<%- partial('./partials/logincss.ejs') %>
<%- partial('./partials/loginjs.ejs') %>

<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Login</h1>
    </div>

    <div class="login-form">
      <div class="control-group">
        <input id="email" type="email" name="user" placeholder="user@user.fr">
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div>

      <div class="control-group">
        <input id="pwd" type="password" name="pwd" placeholder="********">
        <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>

      <a onclick="userLogin()" id="btnLogin" class="btn btn-primary btn-large btn-block" href="#">login</a>
    </div>
  </div>
</div>


<script>
  /**
   * Check if cookie exists
   * if exists redirect to panel
   */
  $(document).ready(function () {
    var loginCookie = $.cookie("userId");
    if (loginCookie != undefined) {
      // redirect
      window.location.replace("/panel?id=" + loginCookie);
    }
  });


  function userLogin() {
    var email = $('#email').val();
    var password = $('#pwd').val();

    $.get("/user", {email: email, password: password})
      .done(function (data) {
        if ((data[0] != undefined)) {
          //alert("Good login");

          //Set cookie
          $.cookie("userId", data[0].id);
          // redirect
          window.location.replace("/panel?id=" + data[0].id);
        } else {
          $("#loginAlert").html("Bad email or password.");
          $("#loginAlert").show();
        }
      })
      .fail(function () {
        $("#loginAlert").html("Oups! Server error!");
        $("#loginAlert").show();
      });
  }
</script>
