<style>
  /**
  * Map Examples Specific
  */
  .smallmap {
    width: 350px;
    height: 256px;
    border: 1px solid #ccc;
  }

  #map {
    background: #7391ad;
    width: 500px;
  }

  #map {
    border: 0;
    height: 250px;
  }

</style>


<h1>Admin panel <%= req.query.id %> <span id="userEmail"></span></h1>

<button onclick="logout()" type="button">Logout</button>

<h3>Tank list</h3>

<!-- List of owned tanks -->
<div id="tankMsg"></div>
<div>
  <ul id="tankList"></ul>
</div>
<!-- /List of owned tanks -->


<!-- Add a tank -->
<div class="addTank">
  <form id="addTankForm">
    <label for="code">Code</label><br>
    <input required="required" id="tankCode" type="text" placeholder="The ID code on your tank">
    <br>
    <label for="label">Label</label><br>
    <input required="required" id="tankLabel" type="text" placeholder="Give your tank a name">
    <br><br>
    <label for="latitude">Latitude</label>
    <input required="required" id="tankLatitude" type="text" placeholder="0.0">

    <label for="longitude">Longitude</label>
    <input required="required" id="tankLongitude" type="text" placeholder="0.0">
    <br>
    <div id="map" class="smallmap"></div>
    <br>
    <button onclick="addATank()" id="btnAddTank" type="button">Add</button>
  </form>
</div>
<!-- /Add a tank -->

<!-- List of fish in tank -->
<h3>Fish in tank list</h3>
<div>
  <ul id="fishList"></ul>
</div>
<!-- /List of fish in tank -->


<%- partial('./partials/paneljs.ejs') %>
