<h1>Admin panel <%= req.query.id %> <span id="userEmail"></span></h1>

<button onclick="logout()" type="button">Logout</button>

<h3>Tank list</h3>

<!-- List of owned tanks -->
<div id="tankMsg"></div>
<div>
  <ul id="tankList"></ul>
</div>
<!-- /List of owned tanks -->


<!-- Add a tank -->
<div class="addTank">
  <form id="addTankForm">
    <label for="code">Code</label><br>
    <input required="required" id="tankCode" type="text" placeholder="The ID code on your tank">
    <br>
    <label for="label">Label</label><br>
    <input required="required" id="tankLabel" type="text" placeholder="Give your tank a name">
    <br>
    <label for="latitude">Latitude</label><br>
    <input required="required" id="tankLatitude" type="number" placeholder="00.000">
    <br>
    <label for="longitude">Longitude</label><br>
    <input required="required" id="tankLongitude" type="number" placeholder="00.000">
    <br>
    <button onclick="addATank()" id="btnAddTank" type="button">Add</button>
  </form>
</div>
<!-- /Add a tank -->

<!-- List of fish in tank -->
<h3>Fish in tank list</h3>
<div>
  <ul id="fishList"></ul>
</div>
<!-- /List of fish in tank -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
  /**
   * Logged user
   * */
  var user = null;

  /**
   Get URL Params
   */
  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
      sURLVariables = sPageURL.split('&'),
      sParameterName,
      i;

    for (i = 0; i < sURLVariables.length; i++) {
      sParameterName = sURLVariables[i].split('=');

      if (sParameterName[0] === sParam) {
        return sParameterName[1] === undefined ? true : sParameterName[1];
      }
    }
  };

  var userId = getUrlParameter('id');


  /**
   *
   * Deletes userId cookie
   * Redirects to login page
   */
  function logout() {
    $.removeCookie("userId");
    /// redirect to login
    window.location.replace("/");
  }


  /**
   * Check if cookie exists
   * if exists check with URL param ID
   */
  $(document).ready(function () {
    var loginCookie = $.cookie("userId");
    if (loginCookie != undefined) {
      if (loginCookie != userId) {
        // redirect to proper panel
        window.location.replace("/panel?id=" + loginCookie);
      } else {
        /// ALL is good
        /**
         Check if id is present
         if not redirect to login
         */

        if (userId == undefined) {
          /// redirect to login
          window.location.replace("/");
          alert("No id");
        } else {
          user = getUserById(userId);
          if (user == undefined) {
            window.location.replace("/");
          }
        }
        /**
         * Set the panel elements
         */
        $('#userEmail').html(user.email);
        /**
         * Update user tank list
         * */
        getAllUserTanks();
        /// \ALL is good
      }
    } else {
      // redirect to login
      window.location.replace("/");
    }
  });


  /**
   * Get user by id
   */
  function getUserById(id) {
    var user = $.ajax({
      url: "/user/" + id,
      async: false,
      dataType: 'json',
      success: function (data) {
        return data;
      }
    });
    return user['responseJSON'];
  }


  /**
   * Get all user tanks
   * */
  function getAllUserTanks() {
    $("#tankList").html("");
    $("#tankMsg").html("");

    user = getUserById(userId);
    if (user.tanks.length == 0) {
      $("#tankMsg").html("You don't have any configured fish-tanks.")
    } else {
      user.tanks.forEach(function (entry) {
          $("#tankList").append("<li onclick='updateFishList(this)' class='tank' id='" + entry.id + "'>" + entry.label + " [" + entry.state + "] " +
            "<button onclick='deleteFishTank(this)' class='deleteTank' id='" + entry.id + "'>[X]</button> </li>");
        }
      );
    }
  }

  /**
   * Get all fish by tank ID
   * */
  function getFishByTank(idTank) {
    $("#fishList").html(""); // empty the list

    var xhrTankResp = $.ajax({
      url: "/tank/" + idTank,
      async: false,
      dataType: 'json',
      success: function (data) {
        return data;
      }
    });
    var tank = xhrTankResp['responseJSON'];
    if (tank.fishInside != undefined) {
      tank.fishInside.forEach(function (fish) {
        $("#fishList").append("<li class='fishInTank' id='" + fish.id + "'>" + fish.name + " [" + fish.code + "] </li>");
      });
    } else {
      $("#fishList").html("You don't have any fish yet.");
    }

  }

  /**
   * On tank click => get list of fish
   */
  function updateFishList(param) {
    var tankId = param.getAttribute("id");
    getFishByTank(tankId);
  }
  /**
   * On tank click => delete tank
   */
  function deleteFishTank(param) {
    var tankId = param.getAttribute("id");
    $.ajax({
      url: '/tank/' + tankId,
      type: 'DELETE',
      success: function (result) {
        getAllUserTanks();
        $("#fishList").html(""); // empty the fish list
      }
    });

  }

  /**
   *
   * Add a tank form JS
   * */
  function addATank() {
    var code = $("#tankCode").val();
    var label = $("#tankLabel").val();
    var latitude = $("#tankLatitude").val();
    var longitude = $("#tankLongitude").val();

    $.post("tank", {code: code, label: label, latitude: latitude, longitude: longitude, owner: userId, sate: 'pending'})
      .done(function (data) {
        /**
         * Update user tank list
         * */
        $("#tankList").append("<li class='tank' id='" + data.id + "'>" + data.label + " [" + data.state + "]</li>");

      });
  }


</script>
