<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">

    <!-- User Account Menu -->
    <li class="dropdown user user-menu">
      <!-- Menu Toggle Button -->
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <!-- The user image in the navbar-->
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jonohunt/128.jpg" class="user-image" alt="User Image">
        <!-- hidden-xs hides the username on small devices so only the image appears. -->
        <span class="hidden-xs"></span>
      </a>
      <ul class="dropdown-menu">
        <!-- The user image in the menu -->
        <li class="user-header">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jonohunt/128.jpg" class="img-circle"
               alt="User Image">
          <p class="userEmailDisplay">
            ADMIN@EMAIL.COM
          </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
          <div class="pull-right">
            <a href="#" onclick="logout()" class="btn btn-default btn-flat">Sign out</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
